@model Transverse.Models.Business.Account.ChangePasswordViewModel
@using Transverse

@{
    ViewBag.Title = "Change password";
    ViewBag.BodyHeader = "Change password";
    Layout = Constants.AdminLayout;
}

<div class="col-md-12">
    <div class="col-md-8 col-xs-12">
        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.NewPassword, new { @class = "control-label col-sm-3 col-lg-2" })
                    <div class="col-sm-9 col-lg-10">
                        @Html.EditorFor(model => model.NewPassword, new { @class = "form-control", @placeholder = "New password" })
                        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label col-sm-3 col-lg-2" })
                    <div class="col-sm-9 col-lg-10">
                        @Html.EditorFor(model => model.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm password" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-horizontal">
                <div class="col-sm-offset-3 text-center">
                    <button type="button" id="btnSave" class="btn btn-primary ladda-button" data-size="s" data-style="zoom-in" onclick="save()">
                        <i class="fa fa-save"></i> Save
                    </button>
                    <a class="btn btn-warning" id="btnCancel" onclick="LoadingEnable()" href="@Url.Action("Index", "Home", new {area = Constants.AdminArea})">
                        <i class="fa fa-remove"></i> Cancel
                    </a>
                </div>
            </div>
        }
    </div>
</div>
