@using CaptchaMvc.HtmlHelpers
@using Transverse
@model Transverse.Models.Business.Account.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Password";
    Layout = Constants.NologinLayout;
}

<div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="text-danger text-left">
            @Html.ValidationSummary(true)
        </div>

        <h3 class="text-center">
            <strong>Forgot Password</strong>
        </h3>

        <div class="form-horizontal">
            <div class="form-group">
                @Html.TextBoxFor(model => model.Email, new { @placeholder = "Email", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-horizontal">
            <div class="form-group">
                <div>
                    @Html.Captcha("", "Please enter the characters in the image above.", 5, "Is required field", true)
                </div>
            </div>
        </div>

        <div class="form-horizontal">
            <div class="text-center">
                <button name="Submit" class="btn btn-primary">
                    <i class="fa fa-send"></i>
                    Send mail
                </button>
                <a class="btn btn-warning" href="@Url.Action("Index", "Home")">
                    <i class="fa fa-remove"></i>
                    Cancel
                </a>
            </div>
        </div>
    }

    @section Scripts
    {
        <script>
            var $capchaInputText = $('#CaptchaInputText');
            $capchaInputText.addClass("form-control");
            $capchaInputText.css('margin-bottom', '-20px');
        </script>
    }
</div>