@using Transverse
@model Transverse.Models.Business.Account.ResetPasswordViewModel

@{
    ViewBag.Title = "Reset Password";
    Layout = Constants.NologinLayout;
}

<div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="text-danger text-left">
            @Html.ValidationSummary(true)
        </div>

        <h3 class="text-center">
            <strong>Reset Password</strong>
        </h3>

        <div class="form-horizontal">
            <div class="form-group">
                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "New password" } })
                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-horizontal">
            <div class="form-group">
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Confirm password" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-horizontal">
            <div class="text-center">
                <button name="Submit" class="btn btn-primary"><i class="fa fa-refresh"></i> Reset</button>
                <a class="btn btn-warning" href="@Url.Action("Index", "Home")"><i class="fa fa-remove"></i> Cancel</a>
            </div>
        </div>
    }
</div>