@using Transverse
@model KeyValuePair<string, string>
@{
    Layout = null;
}

<div>
    Dear @Model.Key,
    <br /><br />
    You need update your password for account on @Constants.AppName
    <br />
    To update your password, please click <a href='@Model.Value'>here</a>.
    <br />
    Or please visit the following page @Model.Value
    <br /><br />
    Thanks you!
    <br /><br />
    @Constants.AppName
</div>